  <h1>Movies in the <%=@list.name%> Category</h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

  <ul>
  <% @list.bookmarks.each do |bookmark|%>
    <li>
      <%= bookmark.movie.title%>
      <%= link_to "Delete movie", bookmark_path(bookmark.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>

</ul>

  <%= link_to "Add new Movie", new_list_bookmark_path(@list.id), class: "btn btn-primary" %>
